body {
  text-align: center;
}

/* https://www.geeksforgeeks.org/how-to-remove-the-space-between-inline-block-elements/ */
#color-palette {
  font-size: 0;
}

.color {
  width: 50px;
  height: 50px;
  margin-bottom: 32px;
}

#pixel-board {
  width: 210px;
  font-size: 0;
  margin: auto;
  border: 1px solid black;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
}
